<table border="1">
	<tr>
		<td>Nombre</td>
		<td>Apellido</td>
		<td>email</td>
		<td>Telefono</td>
	</tr>
	<tr>
		<td>Julio</td>
		<td>Mercado</td>
		<td>aaa@aaa.com</td>
		<td>555-555-5555</td>
	</tr>
	<tr>
		<td>Maribel</td>
		<td>Jacome</td>
		<td>bbb@aaa.com</td>
		<td>555-555-5556</td>
	</tr>
	<tr>
		<td>Ramonita</td>
		<td>Velez</td>
		<td>ccc@aaa.com</td>
		<td>555-555-5557</td>
	</tr>
</table>

<table border="1">
	<tr>
		<td>Articulo</td>
		<td>Precio</td>
		<td>Cantidad</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>Laptop</td>
		<td>$750.00</td>
		<td>1</td>
		<td>$750.00</td>
	</tr>
	<tr>
		<td>Bloque de papel</td>
		<td>$5.00</td>
		<td>3</td>
		<td>$15.00</td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">Computer Inc.</td>
		<td>IVU $87.98</td>
	</tr>
	<tr>
		<!-- <td colspan="3"></td> -->
		<td>Total $852.98</td>
	</tr>
</table>